{% extends "base.html" %}

{% block title %}Contacts{% endblock %}


{% block active_contacts %}active{% endblock %}


{% block content %}
    <h2>Contacts</h2>
    <h4>Director</h4>
      Name: Alexey Radchenko </br>
      Skype: some1skype </br>
      E-mail: dixon.che@gmail.com </br>
      Phone: +79991234567
    <h4>Manager</h4>
      Name: Pretty girl </br>
      Skype: someskype2 </br>
      E-mail: prettygirl@gmail.com </br>
      Phone: +79995555555
    <h4>Founder</h4>
      Name: Alex Raccoon </br>
      Skype: Raccoon </br>
      E-mail: Raccoon@gmail.com </br>
      Phone: +79997894561
{% endblock content %}