<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/my_style.css">
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <style type="text/css">
    </style>
  </head>
  <body>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'students:list_view' %}">Students</a>
      </li>      
    </ul>
    <h2>Contacts</h2>
    <h4>Director</h4>
      Name: Alexey Radchenko </br>
      Skype: some1skype </br>
      E-mail: dixon.che@gmail.com </br>
      Phone: +79991234567
    <h4>Manager</h4>
      Name: Pretty girl </br>
      Skype: someskype2 </br>
      E-mail: prettygirl@gmail.com </br>
      Phone: +79995555555
    <h4>Founder</h4>
      Name: Alex Raccoon </br>
      Skype: Raccoon </br>
      E-mail: Raccoon@gmail.com </br>
      Phone: +79997894561
  </body>  