{% extends "base.html" %}

{% block title %}Django course{% endblock %}


{% block active_main %}active{% endblock %}


{% block content %}


{% include "include/main_title_include.html" with block_title="Django course from beginner to pro" block_short_desc="Course description" block_full_desc="This course will teach you basics of web-development using popular framework Django" %}  
    <h3>Program</h3>
      <table>
        <tr>
          <th>Курс</th><th>Описание</th>
        </tr>
        {% for course in courses %}
        <tr><td>{{ course.name|upper }}</td><td><a href="{% url 'courses:detail' course.name %}">{{ course.short_description|title }}</a></td></tr>
        {% endfor %}
      </table>
{% endblock content %}