<!DOCTYPE html>
<html>
  <head>
    <title>{{ course.name }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/my_style.css">
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <style type="text/css">
    </style>
  </head>
  <body>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'courses:list_view_for_course' course.name %}">Students</a>
      </li>  
    </ul>
    <div class="block"> 
      <h1>{{ course.name }}</h1>
      <h2>{{ course.short_description }}</h2>
        <p>{{ course.description }}</p>
    </div>
    <h3>План курса</h3>
      <table>
        <tr>
          <th>#</th><th>Тема</th><th>Описание</th>
        </tr>
        {% for lesson in lessons %}
        <tr><td>{{ lesson.order }}</td><td>{{ lesson.subject }}</td><td>{{ lesson.description }}</td></tr>
        {% endfor %}
      </table>
  </body>  