{% extends "base.html" %}

{% block title %}{{ course.name }}{% endblock %}


{% block content %}
    <h3>{{ coach.user.first_name }} {{ coach.user.last_name }}</h3>
      <table>
        <tr><td>дата рождения</td><td>{{ coach.date_of_birth|date:"d F, Y" }}</td></tr>
        <tr><td>адрес</td><td>{{ coach.address }}</td></tr>
        <tr><td>почта</td><td>{{ coach.email }}</td></tr>
        <tr><td>логин skype</td><td>{{ coach.skype }}</td></tr>
        <tr><td>телефон</td><td>{{ coach.phone }}</td></tr>
        <tr>
          <td>курсы учитель</td>
          <td>
            {% for course in coach_courses %}
              <a href="{% url 'courses:detail' course %}">{{ course.name }}</a>
              студенты курса <a href="{% url 'courses:list_view_for_course' course.name %}"><button type="button" class="btn btn-primary btn-sm">Просмотреть</button></a><br />
            {% endfor %}       
          </td>
        </tr>
        <tr>
          <td>курсы ассистент</td>
          <td>
            {% for course in assistant_courses %}
              <a href="{% url 'courses:detail' course %}">{{ course.name }}</a>
              студенты курса <a href="{% url 'courses:list_view_for_course' course.name %}"><button type="button" class="btn btn-primary btn-sm">Просмотреть</button></a><br />
            {% endfor %}
          </td>          
        </tr>
      </table>
{% endblock content %}